*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

section{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 100vh;
}

.homer-image{
	max-width: 500px;
}

.title{
	font-size: 120px;
	color: #696969;
}

.paragraph{
	font-size: 70px;
	color: #696969;
}