*{
	margin: 0;
	padding: 0;
}

section{
	display: flex;
	justify-content: space-around;
}

.homer-image{
	width: 500px;
	margin: 100px 0 0 0;
}

h1{
	margin: 100px 0 0 0;
	font-size: 120px;
	color: #696969;
}

p{
	font-size: 70px;
	color: #696969;
}